html,
body {
    width: 100%;
    height: 100%;
}

.frozenStage {
    display: none;
    background-image: url("../img/grologo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 236px;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#chatButton {
    background-image: url("../img/chatIcon.png");
    background-size: contain;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    cursor: pointer;
}

#chatZone {
    display: none;
}

#my-botui-app {
    width: 300px;
    height: 260px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#monique {
    background-image: url("../img/monique.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 180px;
    position: absolute;
    bottom: 280px;
    right: 20px;
}

#closeChat {
    background-image: url("../img/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.tournicoton {
    position: absolute;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}


@media only screen and (max-width: 650px) {
    .stage {
        display: none;
    }
    .frozenStage {
        display: block;
    }
}

@keyframes shake {
    0% {
        right: 20px;
    }
    1% {
        right: 17px;
    }
    2% {
        right: 25px;
    }
    3% {
        right: 12px;
    }
    4% {
        right: 28px;
    }
    5% {
        right: 15px;
    }
    6% {
        right: 23px;
    }
    7% {
        right: 20px;
    }
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
