/* ---- base ---- */

canvas {
    display: block;
    // C'était dans le tuto mais a priori ça sert à rien en fait
    // vertical-align:bottom;
}


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url('../img/background_stars.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}